@import "../../global.scss";

.about {
  width: 100%;
  height: 100%;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }


    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      word-wrap: normal;

      @include mobile {
        padding-left: 20px;
        
      }

      h1 {
        font-size: 40px;
        margin: 20px 0;
        color: #393E46;
        

        @include mobile {
          font-size: 40px;
          
        }
      }

      p {
        width: 85%;
        font-size: 25px;
        color: #393e46;
        filter: drop-shadow(1px black);

        @include mobile {
          font-size: 20px;
          margin-bottom: 15px;
          height: auto;
        }
      }

      .button {
        width: 20%;
        height: 10%;
        margin-top: 20px;
        display: flex;
        color: #f7f7f7;
        background-color: #393E46;
        border: none;
        border-radius: 20px;
        font-weight: 700;
        font-size: 20px;
        justify-content: center;
        align-items: center;

        @include mobile{
          width: 70%;
          height: 30px;
        }
        
        filter: drop-shadow(2px 2px 2px black);

        &:hover {
          background-color: #6d9886;
          transition: all 0.5s ease;
          transform: scale(0.9);
          cursor: pointer;
        }
      }

    }
  
}

/*Tener cuidado con el button*/
