@import "../../global.scss";

.contact {
  margin: 100px;
  color: $textColor;
  text-shadow: $txtShadow;

  h1 {
    margin: 40px;
    text-align: center;

  }

  form {
    margin-top: 30px;
    font-size: larger;

    .msg {
      margin-top: 30px;
    }

    .btn {
      color: $textColor;
      text-shadow: 1px 1px 5px black;
      background-color: $otherColor;
      transition: 0.5s;
      border: none;

      &:hover {
        background-color: $secColor;
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }
}